{% extends 'base.html' %}
{% block content %}

 <h1>About the Finch Fanatic</h1>
 <hr>
 <p>I am a Finch Fanatic! I LOVE everything about Finches. I love the sweet dulcet tones of their songs, the way the flitter through the sky without a care in the world, and the fact that althought they may be tiny, they are fierce and loyal protectors! Having said that, being a Finch Fanatic doesn't pay what it used to, so lend a helping hand and: </p><br>
 <p>Buy the Finch Fanatic a Bowl of Soup!</p>
 
 

{% endblock %}